<div class="welcome">
<h1>Getting Down With Charlie Brown</h1>
<p>Est. 2013</p>
</div>

<div class="splash">
  <h2>Are you ready to get started?!</p><br>
    <ul>
      <li><a href="/posts">Posts</a></li><br>
      <li><a href="/users/new">Register</a></li><br>
      <li><a href="/users/sign_in">Login</a></li><br>
      <li><a href="/logout">Logout</a></li>
  </ul>
</div>