<div class="newuser">
  <form action="/users/create" method="POST" class="user_news">
    <br><h3>New User</h3><br><br>
    <p>First name:<br> <input type="text" name="first_name"/></p>
    <p>Last name:<br><input type="text" name="last_name"/></p>
    <p>Username:<br><input type="text" name="username"/></p>
    <p>Bio:<br>
      <textarea name="bio"></textarea></p>
    <button action="submit">Add user</button>
  </form>
</div>