<div class="signin">
<form action="/sessions/create" method="POST">
  <br>
  <h1>Welcome!</h1>
  <br>
  <input type="text" name="username" placeholder="username" />

  <input type="submit" value="Sign In"/>

</form>

</div>